<div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src=".../100px180/" alt="Usuário">
        <div class="card-body">
          <h5 class="card-title">Nome Usuário</h5>
          <a href="#" class="btn btn-primary">Editar dados pessoais</a>
          <a href="#" class="btn btn-primary">Curtidas</a>
          <a href="#" class="btn btn-primary">Descurtidas</a>
          <a href="#" class="btn btn-primary">Sair</a>
          <hr>
          <a href="#" class="btn btn-primary">Excluir Conta</a>
        </div>
      </div>
</div>