.mt-76{
    margin-top: 76px;
}
.cor-bg{
    background-color: #e7966a;
}
.yoga{
    display:block;
    max-width: 100%;
    vertical-align: middle;
    border: 0px;
}
.esconder{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
}
.esconder .card{
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba (0,0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.esconder .card:hover{
    height: 32rem;
}
.esconder .card .a{
    position: relative;
    width: 18rem;
    height: 20rem;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba (0,0,0,0,0.2);

}
.esconder .card .a img{
    max-width: 100%;
    border-radius: 4px;
}
.esconder .card .content{
    position: relative;
    margin-top: -180px;
    padding:;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.esconder .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}