<div class="img-fluid">
    <img class="estica w-100" src="https://i.imgur.com/JWtPQ50.png" alt="">
</div>
<div class=" cor-teste">
    <div class=" container" style="height: 40px;">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a routerLink='/servicos' class=" text-light mt-2">Serviços
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a routerLink="/produtos" class=" text-light mt-2">Produtos</a>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 25px;">
    <div class="row">
        <!--<div class="col" style="margin-right: 10px; font-family: 'Signika', sans-serif;">-->
        <div class="container cor-fundo">
            <h1 class="text-center txt-color">
                <!--Conheça um pouco Sobre o Rede Antônias!-->
                Quem somos
            </h1>
        </div>
        <div class="container mt-5 mb-5">
            <p class="fs-16" style="font-family: 'Signika', sans-serif;">
                Nós da equipe da Rede Antônias fortalecemos e apoiamos todas as iniciativas que promovem a igualdade de
                gênero em suas mais diversas esferas. Contudo, nosso e-commerce foi voltado para uma região específica
                visto que ações locais são também de grande importância para o alcance das metas e objetivos em um
                desenvolvimento sustentável.
                Dessa forma, escolhemos Paraisópolis, a segunda maior comunidade de São Paulo, por ser uma região que
                enfrenta carência de ações sociais, infraestrutura urbana e sofre com os mais diversos tipos violência.
            </p>
        </div>

        <div class="container cor-fundo">
            <h1 class="text-center txt-color">
                Por que Paraisópolis?
            </h1>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-6">
                    <div class="img-fuid">
                        <img class="w-100" width="600px" height="400px"
                            src="https://media.discordapp.net/attachments/844560082217074758/866755240391999499/mulher_paraisopolis.jpg"
                            alt="imagem relacionada ao texto">
                            <div class="text-center txt-img">
                            <b>Imagem:</b> Karime Xavier/Folhapress
                            </div>
                    </div>
                </div>
                <div class="col-6">
                    <p class="fs-16" style="font-family: 'Signika', sans-serif;">
                        Nós da equipe da Rede Antônias fortalecemos e apoiamos todas as iniciativas que promovem a
                        igualdade de
                        gênero em suas mais diversas esferas. Contudo, nosso e-commerce foi voltado para uma região
                        específica
                        visto que ações locais são também de grande importância para o alcance das metas e objetivos em
                        um
                        desenvolvimento sustentável.
                        Dessa forma, escolhemos Paraisópolis, a segunda maior comunidade de São Paulo, por ser uma
                        região que
                        enfrenta carência de ações sociais, infraestrutura urbana e sofre com os mais diversos tipos
                        violência.
                    </p>
                </div>

            </div>
        </div>

        <div class="container cor-fundo">
            <h1 class="text-center txt-color">
                Por que "Rede Antônias"?
            </h1>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-6">
                    <p class="fs-16" style="font-family: 'Signika', sans-serif;">
                        Nós da equipe da Rede Antônias fortalecemos e apoiamos todas as iniciativas que promovem a
                        igualdade
                        de
                        gênero em suas mais diversas esferas. Contudo, nosso e-commerce foi voltado para uma região
                        específica
                        visto que ações locais são também de grande importância para o alcance das metas e objetivos em
                        um
                        desenvolvimento sustentável.
                        Dessa forma, escolhemos Paraisópolis, a segunda maior comunidade de São Paulo, por ser uma
                        região
                        que
                        enfrenta carência de ações sociais, infraestrutura urbana e sofre com os mais diversos tipos
                        violência.
                    </p>
                </div>
                <div class="col-6">
                    <div class="img-fuid">
                        <img class="w-100" width="600px" height="400px"
                            src="https://media.discordapp.net/attachments/844560082217074758/866052703578226688/rede-coracao-cor.png"
                            alt="imagem relacionada ao texto">
                    </div>
                </div>
            </div>
        </div>

        <!--</div>-->
        <!--<div class="col img-fuid">
            <img class="w-100" width="638px" height="470px"
                src="https://media.istockphoto.com/photos/woman-working-from-home-student-girl-using-laptop-in-her-room-picture-id1284755338?b=1&k=6&m=1284755338&s=170667a&w=0&h=IRc9uESvn3L7S9lbClAp4X_mV0Sjd4pzOUS7nBgEDWE="
                alt="imagem relacionada ao texto">
        </div>-->
    </div>

    <div class="container cor-fundo txt-color mb-5">
        <h2 class=" d-flex justify-content-center" style="font-family: 'Signika', sans-serif;">Conheça nossa equipe</h2>
    </div>

    <div class="row m-4 d-flex justify-content-around">
        <div class="card cor-mud" style="width: 15rem;">
            <strong class="card-text text-center mt-3">Márcio Ribeiro</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862892961029160970/83773037.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
            <div class="container text-center mt-2" style="font-size: 12pt;">
                <strong>Dev. Java FullStack Júnior</strong> 
            </div>
            <div class="card-body d-flex justify-content-around">
                <a href="https://github.com/KaitM1" target="_blank">
                    <i class="fa fa-github teste1" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/marcio-ribeiro-3001/" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card cor-mud" style="width: 15rem;">
            <strong class="card-text text-center mt-3">Maria Adélia</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862892599656448012/78963839.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
                <div class="container text-center mt-2" style="font-size: 12pt;">
                    <strong>Dev. Java FullStack Júnior</strong> 
                </div>
            <div class="card-body d-flex justify-content-around">
                <a href="https://github.com/mariaadelia" target="_blank">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/maria-adelia-de-campos/" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card cor-mud" style="width: 15rem;">
            <strong class="card-text text-center mt-3">Natália Sabino</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862892779525111838/83595697.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
                <div class="container text-center mt-2" style="font-size: 12pt;">
                    <strong>Dev. Java FullStack Júnior</strong> 
                </div>
            <div class="card-body d-flex justify-content-around">
                <a href="https://github.com/sabinonatalia" target="_blank">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/nat%C3%A1lia-sabino/" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card cor-mud" style="width: 15rem;">
            <strong class="card-text text-center mt-3">Yoshimitsu Miyahira</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862890890623320064/63078117.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
                <div class="container text-center mt-2" style="font-size: 12pt;">
                    <strong>Dev. Java FullStack Júnior</strong> 
                </div>
            <div class="card-body d-flex justify-content-around">
                <a href="https://github.com/YoshiiTsuu" target="_blank">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/yoshimitsu-miyahira/" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>