<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col" style="margin-right: 10px;">
            <h1>
                Quem Somos?
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet praesentium porro, similique doloribus, ad
                possimus dolorem, cumque tempora recusandae esse aperiam facilis alias rerum harum non eveniet iusto quo
                incidunt. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt sequi ex magni dolorum
                aspernatur ipsum quasi a harum, vitae dolores eius quos velit voluptatum eligendi architecto
                perspiciatis, eaque voluptatibus reiciendis!</p>
        </div>
        <div class="col">
            <img src="https://media.discordapp.net/attachments/859062621465739284/859089988671111208/cute-cloud-smiling-face-seamless-pattern-vector-id1205189172.png?width=677&height=676"
                alt="">
        </div>
    </div>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://media.discordapp.net/attachments/859062621465739284/859089988671111208/cute-cloud-smiling-face-seamless-pattern-vector-id1205189172.png?width=677&height=676"
                alt="Imagem de capa do card" width="120px" height="120px" style="border-radius: 50%;">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top"
                src="https://media.discordapp.net/attachments/859062621465739284/859089988671111208/cute-cloud-smiling-face-seamless-pattern-vector-id1205189172.png?width=677&height=676"
                alt="Imagem de capa do card" style="border-radius: 100%;">
            <div class="card-body">
                <p class="card-text">Um exemplo de texto rápido para construir o título do card e fazer preencher o
                    conteúdo do card.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Título do card</h5>
            </div>
        </div>
    </div>
</div>
