<div class="cor-bg">
    <div class=" container" style="height: 40px;">
        <div class="row">
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a routerLink='/servicos' class=" text-light">Serviços
                </a>
            </div>
            <div class="col d-flex justify-content-center" style="margin-top: 8px;">
                <a routerLink="/produtos" class=" text-light">Produtos</a>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col" style="margin-right: 10px;">
            <h1>
                Conheça um pouco sobre nosso projeto!
            </h1>
            <p class="fs-16">Texto sobre como conhecemos o projeto de paraisópolis e sobre como nos
                interessamos por um e-comerce baseado nisso.</p>
        </div>
        <div class="col img-fuid">
            <img width="638px" height="470px"
                src="https://media.discordapp.net/attachments/859062621465739284/859089988671111208/cute-cloud-smiling-face-seamless-pattern-vector-id1205189172.png?width=677&height=676"
                alt="imagem relacionada ao texto">
        </div>
    </div>

    <hr>
    <h3 class=" d-flex justify-content-center">Conheça nossa equipe</h3>

    <div class="row m-4 d-flex justify-content-around">
        <div class="card" style="width: 15rem;">
            <strong class="card-text text-center">Márcio Ribeiro</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862892961029160970/83773037.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
            <div class="card-body d-flex justify-content-around">
                <a href="https://www.linkedin.com/in/marcio-ribeiro-3001/" target="_blank">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://github.com/KaitM1">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <strong class="card-text text-center">Maria Adélia</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862892599656448012/78963839.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
            <div class="card-body d-flex justify-content-around">
                <a href="https://www.linkedin.com/in/maria-adelia-de-campos/" target="_blank">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://github.com/mariaadelia" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <strong class="card-text text-center">Natália Sabino</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862892779525111838/83595697.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
            <div class="card-body d-flex justify-content-around">
                <a href="https://www.linkedin.com/in/nat%C3%A1lia-sabino/">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://github.com/sabinonatalia">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <strong class="card-text text-center">Yoshimitsu Miyahira</strong>
            <img class="card-img-top mt-2"
                src="https://media.discordapp.net/attachments/854768370889392148/862890890623320064/63078117.png"
                alt="Imagem de capa do card" style="border-radius: 100%;">
            <div class="card-body d-flex justify-content-around">
                <a href="https://github.com/YoshiiTsuu" target="_blank">
                    <i class="fa fa-github" style="font-size: 30pt;" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/yoshimitsu-miyahira/" target="_blank">
                    <i class="fa fa-linkedin-square" style="font-size: 30pt;" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>