<nav class="navbar navbar-expand-lg navbar-light cor-bg">
    <a class="navbar-brand" href="#"><img class="img-fluid rounded-circle"
            src="https://media.discordapp.net/attachments/844560082217074758/859049764306026536/1.png" alt=""
            width="50px" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-light" href="#">Ir para serviços <span class="sr-only">(página
                            atual)</span></a>
                </li>
            </ul>
        </div>
        <div>
            <form class="form-inline my-2  my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisa" aria-label="Pesquisar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                        aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link text-light" href="#">Quem somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled text-light" routerLink='/entrar'>Entrar</a>
            </li>
            <li class="nav-item d-flex align-items-center mr-4">
                <a routerLink='/usuario'>
                    <i class="fa fa-shopping-cart text-light fs-16 ml-2"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>