<div class="cor-teste2 d-flex align-items-center" style="padding-bottom: 40px;">
    <!--Precisa ver e arrumar-->
    <div class=" container" style="height: 80px;">
        <div class="row">
            <div class="col d-flex justify-content-center align-items-center bordinha" style="margin-top: 8px;"
                *ngFor="let item of listaCategoria">
                <a (click)="refresh(item.id)" [routerLink]="['/produtos-categorias',item.id]"
                    class="text-light">{{item.categoria}}
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid cor-teste3 cor-fundo">
    <div class="container">
        <h1 class="text-center ">{{categoria.categoria}}</h1>
        <h4 class="text-center ">{{categoria.descricao}}</h4>
        <hr>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-around m-3 row mt-5">
        <div class="card mt-5" style="width: 14rem;" *ngFor='let produto of listaProduto'>
            <!--Criei o <a> para conseguir colocar o redirecionamento quando a pessoa clicar, colocarem todo o card depois-->
            <a routerLink='/ver-produto'><img width="100px" height="200px" class="card-img-top" src="{{produto.midias}}"
                    alt="Imagem de capa do card"></a>
            <div class="card-body">
                <p>{{produto.nomeProdutosServicos}}</p>
                <h4 class="card-text">R${{produto.preco}}</h4>
            </div>
        </div>
    </div>
</div>