<div class="row">
  <div class="d-flex justify-content-center align-content">
    <div class="col-6 d-flex justify-content-center align-items-center container-fluid">
      <div class="d-flex flex-column align-items-center">
        <div style="width:540px ; height:532px">
          <img class=""
            src="https://media.discordapp.net/attachments/844560082217074758/860252119759454228/edit-logo.png"
            alt="Logo Rede Antônias">
        </div>
      </div>
    </div>
    <div class="card d-flex justify-content-center col-6 align-items-center mt-5" style="width: 45rem;">
      <h2 class="my-5">Cadastre-se</h2>
      <form>
        <div class="form-row mb-2">
          <div class="form-group col-md-12">
            <label for="inputNome">Nome</label>
            <input [(ngModel)]='usuario.nome' type="text" class="form-control" id="inputNome"
              placeholder="Nome Completo">
          </div>
          <div class="form-row mb-2">
            <div class= "form-group col-md-12">
              <label for='inputPhoto'>Sua foto de perfil</label>
              <input [(ngModel)]='usuario.foto' type="text" class="form-control" id="inputPhoto"
                placeholder="cole o Link">
            </div>
          </div>
          <div class="form-group mb-2 col-12">
            <label for="inputEmail4">Email válido</label>
            <input [(ngModel)]='usuario.email' type="email" class="form-control" id="inputEmail4"
              placeholder="Digite seu Email">
          </div>
          <div class="form-group col-md-6 mb-2">
            <label for="inputPassword4">Senha</label>
            <input (input)='confirmSenha($event)' type="password" class="form-control" id="inputPassword4"
              placeholder="Senha">
          </div>
          <div class="form-group col-md-6 mb-2">
            <label for="inputPassword">Confirme Senha</label>
            <input [(ngModel)]='usuario.senha' type="password" class="form-control" id="inputPassword"
              placeholder="Confirmar Senha">
          </div>
        </div>
        <div class="form-group mt-2">
          <div class="mt-2">
            <label for="inputBirthDate">Data de Nascimento</label>
            <div class="row mb-2" style="margin-left: 3.0px;">
              <input [(ngModel)]='usuario.dataAniversario' type="date" name="birthDate" id="inputBirthDate">
            </div>
            <div class="my-5 text-center row">
              <!-- <input type="radio" name="vendedora" id="sim" value="true">Vendedora
              <input type="radio" name="vendedora" id="nao" value="false" checked="">Consumidor -->
              <!-- <div class="col-6 ">
                <input type="radio" id='vendedora' value='1' name='vendedora' (change)='checkUsuario($event)'> <strong> vendedora</strong>
                <img width="250" height="200px" src="https://i.imgur.com/GP8GuEe.png" alt="vendedorClick">
              </div>
              <div class="col-6">
                <input type="radio" id= 'consumidor' value='0' name ='vendedora' (change)='checkUsuario($event)'> <strong> Consumidor</strong>
                <img width="250" height="200px" src="https://i.imgur.com/AVtsPHf.png" alt="consumidorClick">
              </div> -->
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center kg-16">
          <button type="submit" class="btn btn-success" (click)='cadastrar()'>Cadastrar</button>
        </div>
      </form>
      <hr>
      <p>Já tem uma conta? <a href='' routerLink='/entrar'>Faça login aqui</a></p>
    </div>
  </div>
</div>