<div class="cor-teste2 d-flex align-items-center" style="padding-bottom: 10px;">
    <div class=" container" >
        <div class="row">
            <ng-container *ngFor="let item of listaCategoria">
                <div class="col d-flex justify-content-center bordinha" style="margin-top: 8px;"
                    *ngIf="item.produtoServicos == 'Serviços'">
                    <a (click)="refresh(item.id)" [routerLink]="['/produtos-categorias-servico',item.id]"
                        class=" text-light d-flex align-items-center">{{item.categoria}}
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="container-fluid cor-teste3 cor-fundo">
    <div class="container">
        <h1 class="text-center ">{{categoria.categoria}}</h1>
        <h4 class="text-center ">{{categoria.descricao}}</h4>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-around m-3 row mt-5">
        <ng-container *ngFor='let produto of listaProduto'>
            <div class="card mt-5" style="width: 14rem;" *ngIf="produto.categoria.id == idCategoria">
                <!--Criei o <a> para conseguir colocar o redirecionamento quando a pessoa clicar, colocarem todo o card depois-->
                <a [routerLink]="['/ver-produto',produto.id]"><img width="100px" height="200px" class="card-img-top"
                        src="{{produto.midias}}" alt="Imagem de capa do card"></a>
                <div class="card-body">
                    <p>{{produto.nomeProdutosServicos}}</p>
                    <h4 class="card-text">R${{produto.preco}}</h4>
                </div>
            </div>
        </ng-container>
    </div>
</div>