<div class="cor-teste3 d-flex align-items-center" style="padding-bottom: 10px;">
    <div class=" container" >
        <div class="row">
            <ng-container *ngFor="let item of listaCategoria">
                <div class="col d-flex justify-content-center bordinha" style="margin-top: 8px;"
                    *ngIf="item.produtoServicos == 'Serviços'">
                    <a (click)="refresh(item.id)" [routerLink]="['/produtos-categorias-servico',item.id]"
                        class=" text-light d-flex align-items-center">{{item.categoria}}
                    </a>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="container-fluid cor-teste3 cor-fundo">
    <div class="container">
        <h1 class="text-center ">{{categoria.categoria}}</h1>
        <h4 class="text-center ">{{categoria.descricao}}</h4>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-around m-3 row">
        <div class="esconder">
            <ng-container *ngFor='let item of listaProduto'>
                <div class="card mt-5" style="width: 14rem;" *ngIf="item.categoria.id == idCategoria">
                    <!--Criei o <a> para conseguir colocar o redirecionamento quando a pessoa clicar, colocarem todo o card depois-->
                    <a [routerLink]="['/ver-produto',item.id]"><img width="100px" height="200px" class="card-img-top"
                            src="{{item.midias}}" alt="Imagem de capa do card"></a>
                    <div class="card-body">
                        <h3 class="card-text">{{item.nomeProdutosServicos}}</h3>
                        <h4 class="card-text">R${{item.preco}}</h4>
                        <div class="content" style="margin-top: 20px;">
                            <p>{{item.descricao}}</p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>