.cor-bg{
    background-color: #E28553;
}

.cor-bg2{
    background-color: #e7966a;
}
.bg-main-theme{
    background-color: #FFE4CF;
}
/* You can add global styles to this file, and also import other style files */
.cor-bg-mp{
    background-color:#bd5d3fe8;
}
.cor-bg-mps{
    background-color:#cc8960;
}
.cor-bg-rodape{
    background-color: #bd5d3fe8;
}
